.section {
  padding-bottom: clamp(3.5rem, 7vw, 4.5rem);
}

.grid {
  display: grid;
  
  grid-template-columns: repeat(2, minmax(0, 1fr));
  /* gap: 2rem 1.75rem; */
  gap: 2rem 3rem;
}

@media (max-width: 860px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
